.Login {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: ($breakpoint-mobile - 200) auto;

	@media (max-width: $breakpoint-mobile) {
		grid-template-columns: 100%;
	}

	&__top {
		display: none;

		@media (max-width: $breakpoint-mobile) {
			width: 100%;
			padding: spacing('sm') 0;
			position: fixed;
			top: 0;
			right: 0;
			display: inline-block;
			background: $color-gradient-primary;
		}
	}

	&__form {
		padding: 0 $horizontal-padding;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $color-light;
	}

	&__mirror {
		background: url('../../assets/images/football-pitch.jpg'), $color-gradient-primary;
		background-blend-mode: multiply;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: $breakpoint-mobile) {
			display: none;
		}
	}

	&__github {
		display: flex;
		align-items: center;
		position: fixed;
		bottom: spacing('lg');
		left: $horizontal-padding;
		color: $color-dark;
		text-decoration: none;
		cursor: pointer;

		svg {
			margin-right: spacing('sm');
		}
	}
}
