.Loader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		color: $color-green-light;
		animation: spin 1s infinite linear;

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}
	}
}
