.Button {
	width: 100%;
	padding: spacing('sm');
	border-radius: size('xs');
	max-width: 200px;
	border-width: size('xxs');
	border-style: solid;
	border-color: $color-primary;
	background-color: $color-primary;
	color: $color-light;
	cursor: pointer;
	box-shadow: none;

	&:hover {
		background-color: $color-button-hover;
	}

	&:active {
		transform: translateY(2px);
	}

	&--secondary {
		background-color: $color-light;
		color: $color-primary;

		&:hover {
			background-color: $color-button-light-hover;
		}
	}

	&--disabled {
		border-color: $color-button-disabled !important;
		background-color: $color-button-disabled;
		color: $color-text-light;
		pointer-events: none;
	}
}
