.Button {
	width: 100%;
	padding: spacing('sm');
	border-radius: size('xs');
	max-width: 200px;
	border-width: size('xxs');
	border-style: solid;
	border-color: transparent;
	border-left-color: $color-primary-blue;
	border-right-color: $color-primary-green;
	background: $color-gradient-primary;
	color: $color-light;
	cursor: pointer;
	box-shadow: none;

	&:hover {
		background: $color-gradient-primary-invert;
		border-left-color: $color-primary-green;
		border-right-color: $color-primary-blue;
	}

	&:active {
		transform: translateY(2px);
	}

	&--secondary {
		background: $color-light;
		border-color: $color-primary-blue;
		color: $color-primary-blue;

		&:hover {
			background: $color-grey-3;
			border-color: $color-primary-blue;
		}
	}

	&--disabled {
		border-color: $color-grey-2 !important;
		background: $color-grey-2;
		color: $color-text-light;
		pointer-events: none;
	}
}
