.MainLink {
  display: inline-block;
  cursor: pointer;
  
  // FONT
  @include fontText("md");
  color: $color-text-dark;
  text-decoration: none;

  &__label {
    vertical-align: super;
    @media (max-width: $breakpoint-width) {
      display: none;
    }
  }

  &__icon {
    color: inherit;
    margin: 0;
    margin-right: 8px;

    &--reverse {
      margin: 0;
      margin-left: 8px;
    }
  }

  &--light {
    color: $color-text-light;
  }
}
