// MAIN COLORS
$color-primary: #61DAFB;

// BASE COLORS
$color-dark: #313131;
$color-light: #FFFFFF;

// BACKGROUND COLORS
$color-bg-dark: $color-dark;
$color-bg-light: $color-light;

// TEXT COLORS
$color-text-dark: $color-dark;
$color-text-light: $color-light;
