// MAIN COLORS
$color-primary-blue: rgb(97, 218, 251); // #61dafb;
$color-primary-green: rgb(0, 255, 133); // #00FF85;

// BASE COLORS
$color-dark: rgb(49, 49, 49); // #313131
$color-light: rgb(255, 255, 255); // #FFFFFF
$color-grey-1: rgb(112, 112, 112); // #707070
$color-grey-2: rgb(179, 179, 179); // #B3B3B3
$color-grey-3: rgb(240, 240, 240); // #EBEBEB

// BACKGROUND COLORS
$color-bg-dark: $color-dark;
$color-bg-light: $color-light;

// TEXT COLORS
$color-text-dark: $color-dark;
$color-text-light: $color-light;

// GRADIENTS
$color-gradient-primary: linear-gradient(90deg, $color-primary-blue, $color-primary-green);
$color-gradient-primary-invert: linear-gradient(90deg, $color-primary-green, $color-primary-blue);
