@function size($size: 'md') {
	@if $size == 'xxs' {
		@return 2px;
	}

	@if $size == 'xs' {
		@return 4px;
	}

	@if $size == 'sm' {
		@return 8px;
	}

	@if $size == 'md' {
		@return 16px;
	}

	@if $size == 'lg' {
		@return 24px;
	}

	@if $size == 'xg' {
		@return 32px;
	}
}

$breakpoint-mobile: 600px;
$horizontal-padding: 32px;

$layer-notification: 3;
$layer-modal: 2;
$layer-topbar: 1;
