.default {
	margin: 0;
	font-weight: normal;
}

.Typography {
	@include fontText('md');
	@extend .default;

	&--bold {
		font-weight: bold !important;
	}

	&--italic {
		font-style: italic;
	}

	&--sm {
		@include fontText('sm');
		@extend .default;
	}

	&--lg {
		@include fontText('lg');
		@extend .default;
	}

	&--xl {
		@include fontText('xl');
		@extend .default;
	}
}
