.Home {
	width: 100%;
	height: 100vh;
	margin-top: $margin-top-page;

	@media (max-width: $breakpoint-mobile) {
		grid-template-columns: 100%;
	}

	&__content {
		padding: 0 $padding-horizontal;
	}

	&__header {
		margin-bottom: spacing('lg');

		@media (max-width: $breakpoint-mobile) {
			width: 200px;
		}
	}
}
