.Breadcrumb {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	color: $color-blue-dark;

	&__link {
		display: flex;
	}

	&__label {
		display: flex;
		cursor: pointer;
	}

	&__icon {
		margin: 0 spacing('sm');
	}
}
