.Home {
	display: flex;
	align-items: center;

	&__logo {
		width: 64px;
		color: #61DAFB;
		margin-left: size("sm");
		animation: spin 3s infinite linear;

		@keyframes spin {
		  from { transform: rotate(0deg); }
		  to { transform: rotate(359deg); }
		};

		@media (max-width: $breakpoint-width) {
		  display: none;
		}
	}
}
