$mobile-max-width: 280px;

.Signin {
	width: 100%;

	&__header {
		color: $color-dark;
		margin-bottom: spacing('lg');
	}

	&__title {
		h2 {
			background: $color-gradient-primary;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__form {
		* > input {
			margin-bottom: spacing('xl');
		}
	}

	&__button {
		max-width: $mobile-max-width/2;
		padding-bottom: spacing('lg');

		@media (max-width: $breakpoint-mobile) {
			max-width: 100%;
		}
	}
}
