.LangsMenu {
	display: inline-block;
	position: fixed;
	top: 28px;
	right: 40px;

	@include fontText("md");

	&__toggle {
		margin: 0;
		background: $color-bg-dark;
		color: $color-text-light;
		cursor: pointer;
		user-select: none;
	}

	&__icon {
		margin-left: 10px;
		transform: rotate(0);
		vertical-align: middle;

		&--open {
			transform: rotate(180deg);
		}
	}

	&__menu {
		width: 200px;
		padding: 0;
		list-style: none;
		background: $color-bg-light;
		position: absolute;
		right: 0;

		&--hidden {
			display: none;
		}
	}

	&__option {
		display: inline-block;
		margin: 10px;
		padding: 0;
		cursor: pointer;

		&:hover {
			// color: $color-primary;
		}

		&--selected {
			font-weight: bold;
			color: $color-primary;
		}
	}
}
