.CardLeague {
	background: $color-gradient-primary;
	padding: spacing('xs');
	border-radius: $border-radius;
	cursor: pointer;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $color-light;
		padding: spacing('md');
		border-radius: $border-radius;
		color: $color-dark;
	}

	&__left {
		padding: spacing('sm') spacing('md');
	}

	&__name {
		color: $color-blue-dark;
	}

	&__right {
		padding: spacing('sm') spacing('md');
		text-align: center;
		background: $color-grey-4;
		border-radius: $border-radius;
	}

	&__players {
		color: $color-dark;
	}
}
